<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <ul>
        <li>
            <h2>教室申请请点击：<a href="http://10.100.126.168/">教室申请入口</a></h2>
        <span><strong>仅限校园网访问</strong></span>，<small>如使用360浏览器请<b>切换至极速模式</b></small>
        </li>
        <br/>
        <li>
            <h2>
                疫情防控特殊时期临时开放 <a href="http://150.158.195.65:7014/">非校园网申请入口</a>
            </h2>
            <span><strong>此临时链接访问速度较慢，加载页面请耐心等待约10秒</strong></span>，<small>如使用360浏览器请<b>切换至极速模式</b></small>
        </li>
    </ul>


</head>
<body>

</body>
</html>